name: iOS Build

on:
  push:
    branches:
      - main
      - Abdul_dev
  pull_request:
    branches:
      - main


jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode.app

      - name: Show Xcode Version
        run: xcodebuild -version

      - name: Build App
        run: |
          xcodebuild clean build \
          -project Learning_SWIFTUI.xcodeproj \
          -scheme Learning_SWIFTUI \
          -sdk iphonesimulator \
          -destination 'generic/platform=iOS Simulator' \
          CODE_SIGNING_ALLOWED=NO

      - name: Upload Derived Data Artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: ~/Library/Developer/Xcode/DerivedData
